nav {
    display: flex;
    justify-content: space-around;
    align-items: center;
    min-height: 10vh;
    background: #21445c;
    color: white;
    border-radius: 10px;
}

.nav-items {
    width: 40%;
    display: flex;
    justify-content: space-around;
    align-items: center;
    list-style: none;
}

.links-style {
    color:white;
    text-decoration: none;
}